{% extends 'AFSOC_app/base.html' %}
{% load static %}
{% block title %}AFSOC-个人中心{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 myBorder">
            <h2 class="text-center">个人信息</h2>

            <h3>用户：{{ request.session.user_name }}</h3>
            <h3>邮箱：{{ request.session.email }}</h3>
            <h3>权限：{{ request.session.permission }}</h3>
            <h3>部门：{{ request.session.department }}</h3>
            <h3>分配任务数：{{ task_assigned }}</h3>
            <h3>完成任务数：{{ task_solved }}</h3>
            <button type="submit" class="btn btn-default"><a href="/AFSOC_app/updatePassword/" target="_blank">修改密码</a></button>
        </div>
    </div> <!-- /container -->
{% endblock %}